MONGODB_URI = 
TOKEN_SECRET=

DOMAIN=
NODE_ENV=
NEXTAUTH_URL =
NEXTAUTH_SECRET =


NODEMAILER_AUTH_USER = 
NODEMAILER_AUTH_PASS = 

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=



# Public variables 
NEXT_PUBLIC_DOMAIN=
NEXT_PUBLIC_WEBSOCKET=
NEXT_PUBLIC_BASE_URL =
NEXT_PUBLIC_API_URL =

KV_URL=
NEXT_PUBLIC_BASE_URL=

# Product Variable Limits
NEXT_PUBLIC_TOTAL_FORMS_LIMIT=
NEXT_PUBLIC_FORM_TIMELINE_LIMIT=
NEXT_PUBLIC_ELEMENTS_LIMIT=
NEXT_PUBLIC_ELEMENT_OPTIONS_LIMIT=
