.element-propertise-cnt {
  position: absolute;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: var(--terinary-bg);

  .element-propertise {
    height: 100%;
    display: flex;
    flex-direction: column;

    .element-propertise-header {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: var(--common-border);

      .element-propertise-header-title {
        font-size: 16px;
      }
    }

    .element-propertise-body {
      flex-grow: 1;
      height: 100%;
      display: flex;
      flex-direction: column;

      .body-section-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        height: 170px;
      }

      .sortable-list-cnt {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: auto;
        flex-grow: 1;

        .sortable-list {
          height: 100%;
          display: flex;
          flex-direction: column;

          .sortable-list-header {
            padding: 10px 15px;
          }

          .sortable-list-body {
            padding: 0 15px 60px;
            overflow: auto;
            flex-grow: 1;
          }
        }
      }
    }

    .element-propertise-footer {
      padding: 15px;
      display: flex;
      justify-content: flex-end;
      border-top: var(--common-border);
    }
  }
}
