.form-cnt {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;

  .form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    .left {
      display: flex;
      align-items: center;
      gap: 16px;

      .form-sec-header-left {
        display: flex;
        align-items: center;
        gap: 8px;

        .header-indicator {
          font-size: 22px;
          font-weight: 800;
          color: var(--color-accent);
        }

        .header-text {
          font-size: 18px;
          font-weight: 600;
        }
      }

      .form-sec-header-right {
        display: flex;
        align-items: center;
        gap: 10px;

        .forms-sec-item-status {
          font-size: 12px;
          font-weight: 600;
          padding: 3px 8px;
          border-radius: var(--button-border-radius);
        }

        .active {
          background-color: var(--green-bg);
          color: var(--green-font);
        }

        .expired {
          background-color: var(--red-bg);
          color: var(--red-font);
        }

        .forms-sec-items-options {
          cursor: pointer;
        }
      }
    }
  }

  .form-view-body {
    display: flex;
    height: calc(100% - 60px);

    .left {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 35%;
      padding: 0 15px;

      .button-cnt {
        display: flex;
        padding: 15px 0;
      }

      .form-timer {
        display: flex;
        align-items: center;
        gap: 20px;

        .form-timer-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;
          padding: 10px 0;

          .form-timer-header-text {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }

      .form-description {
        .form-description-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;
          padding: 10px 0;

          .form-description-header-text {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }

    .right {
      height: 90%;
      width: 65%;

      .form-preview {
        height: 100%;

        .form-preview-header {
          padding: 20px 0;

          .form-preview-header-text {
            font-size: 16px;
            font-weight: 600;
          }
        }

        .form-preview-body {
          background: var(--secondary-bg-gradient);
          padding: var(--button-padding);
          border: var(--input-border);
          border-radius: var(--element-border-radius);
          display: flex;
          overflow: auto;
          height: 100%;

          .form-preview-body-cnt {
            width: 100%;
          }
        }
      }
    }
  }

  .form-sec-cnt {
    flex-grow: 1;
    overflow: auto;
    .form-sec {
      height: calc(100%);
      display: flex;

      .components-sec-cnt {
        height: 100%;
        width: 30%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .components-sec {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .components-sec-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            padding: 10px 0;

            .header-indicator {
              font-size: 22px;
              font-weight: 800;
              color: var(--color-accent);
            }
          }
        }
        .components-sec-list {
          overflow: auto;
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;
          gap: 5px;
          margin-bottom: 10px;
        }
      }

      .form-workbench {
        padding: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .workbench-cnt {
          width: 650px;
          height: 100%;
          display: flex;
          border: var(--common-border);
          border-radius: var(--border-radius);
          overflow: auto;

          .workbench {
            width: 325px;
            padding: 15px;
            height: max-content;
            min-height: 100%;
          }
        }
      }
    }
  }

  .components-sec-list-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 48%;
    border: var(--common-border);
    border-radius: var(--border-radius);

    &:hover {
      background-color: var(--terinary-bg);
    }

    .components-sec-list-item-icon {
      font-size: 22px;
    }
  }

  .form-field-element-cnt {
    border-radius: var(--input-border-radius);
    border: var(--common-border);
    border-color: transparent;
    padding: 10px;
    position: relative;

    .opts-popup-cnt {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      background-color: var(--primary-bg);
      border: var(--common-border);
      border-radius: var(--input-border-radius);
      gap: 5px;

      .opts-popup-item {
        cursor: pointer;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--input-border-radius);

        &:hover {
          background-color: var(--primary-hover);
        }
      }
    }

    .displayNone {
      display: none;
    }

    .displayBlock {
      display: block;
    }

    .form-field-element {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .form-field-element-label {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .form-field-element-label-text {
          flex-grow: 1;
          word-wrap: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .form-field-element-options {
          cursor: pointer;
        }
      }

      .form-field-text-element-input {
        border: var(--common-border);
        border-radius: var(--input-border-radius);
        height: 32px;
        width: 100%;
        display: block;
      }

      .form-field-select-element-input {
        border: var(--common-border);
        border-radius: var(--input-border-radius);
        height: 32px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .select-element-input-icon {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: end;
          padding: 0 10px;
          position: absolute;
          top: 0;
        }
      }
    }
  }

  .form-bg {
    background-color: var(--primary-bg);
  }

  .dragging-element-placeholder {
    border: var(--common-border);
    background-color: var(--primary-placeholder);
    border-radius: var(--input-border-radius);
    border-color: var(--primary-hover);

    > * {
      visibility: hidden !important;
    }
  }
}
