.form-cnt {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;

  .form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    .left {
      display: flex;
      align-items: center;
      gap: 16px;

      .form-sec-header-left {
        display: flex;
        align-items: center;
        gap: 8px;

        .header-indicator {
          font-size: 22px;
          font-weight: 800;
          color: var(--color-accent);
        }

        .header-text {
          font-size: 18px;
          font-weight: 600;
        }
      }

      .form-sec-header-right {
        display: flex;
        align-items: center;
        gap: 10px;

        .forms-sec-item-status {
          font-size: 12px;
          font-weight: 600;
          padding: 3px 8px;
          border-radius: var(--button-border-radius);
        }

        .active {
          background-color: var(--green-bg);
          color: var(--green-font);
        }

        .expired {
          background-color: var(--red-bg);
          color: var(--red-font);
        }

        .draft {
          background-color: var(--light);
          color: var(--dark);
        }

        .forms-sec-items-options {
          cursor: pointer;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
  }

  .table-sec-cnt {
    height: calc(100% - 60px);
    .table-sec {
      height: 100%;
      display: flex;
      flex-direction: column;

      .table-sec-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;

        .table-sec-header-left {
          .count {
            display: flex;
            gap: 10px;
          }

          .filter {
            display: flex;
            gap: 10px;
          }
        }

        .table-sec-header-right {
          display: flex;
          gap: 10px;

          .pagination {
            display: flex;
            gap: 10px;
          }
        }
      }

      .table-sec-body {
        flex-grow: 1;
        background: var(--secondary-bg-gradient);
        border: var(--input-border);
        border-radius: var(--element-border-radius);
        display: flex;
        flex-direction: column;
        overflow: auto;
        position: relative;

        .table-header {
          width: max-content;
          background: var(--terinary-bg);
          border-bottom: var(--input-border);
          position: sticky;
          top: 0;
          z-index: 2;

          .t-row {
            position: sticky;
            top: 0;

            .sticky-row {
              display: flex;
              position: sticky;
              top: 0;
              left: 0;
              z-index: 5;
              background-color: var(--terinary-bg);
            }

            .t-cell {
              border-right: var(--input-border);
            }
          }
        }

        .sticky-row {
          display: flex;
          position: sticky;
          top: 0;
          left: 0;
          z-index: 1;
          background-color: var(--terinary-bg);
        }

        .unsticky-row {
          display: flex;
        }

        .table-body {
          width: max-content;
          flex-grow: 1;
        }

        .t-row {
          display: flex;
          align-items: stretch;
          border-bottom: var(--common-border);

          .t-cell {
            width: 180px;
            max-height: 60px;
            text-overflow: ellipsis;
            overflow: hidden;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            padding: 8px;
            border-right: var(--common-border);

            .cell-left {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
            }

            .cell-right {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }

        .sticky {
          position: sticky;
          left: 0;
          background: var(--terinary-bg);
        }

        .high-index {
          z-index: 2;
        }
      }

      .table-sec-footer {
        padding: 10px;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .form-view-body {
    display: flex;
    height: calc(100% - 60px);

    .left {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 35%;
      padding: 0 15px;

      .button-cnt {
        display: flex;
        padding: 15px 0;
        gap: 15px;
      }

      .form-timer {
        display: flex;
        align-items: center;
        gap: 20px;

        .form-timer-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;
          padding: 10px 0;

          .form-timer-header-text {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }

      .form-description {
        .form-description-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;
          padding: 10px 0;

          .form-description-header-text {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }

    .right {
      height: 90%;
      width: 65%;

      .form-preview {
        height: 100%;

        .form-preview-header {
          padding: 20px 0;

          .form-preview-header-text {
            font-size: 16px;
            font-weight: 600;
          }
        }

        .form-preview-body {
          background: var(--secondary-bg-gradient);
          padding: var(--button-padding);
          border: var(--input-border);
          border-radius: var(--element-border-radius);
          display: flex;
          overflow: auto;
          height: 100%;

          .form-preview-body-cnt {
            width: 100%;
          }
        }
      }
    }
  }

  .form-sec-cnt {
    flex-grow: 1;
    overflow: auto;
    .form-sec {
      height: calc(100%);
      display: flex;

      .components-sec-cnt {
        height: 100%;
        width: 30%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .components-sec {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .components-sec-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            padding: 10px 0;

            .header-indicator {
              font-size: 22px;
              font-weight: 800;
              color: var(--color-accent);
            }
          }
        }
        .components-sec-list {
          overflow: auto;
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;
          gap: 5px;
          margin-bottom: 10px;
        }
      }

      .form-workbench {
        padding: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .workbench-cnt {
          width: 650px;
          height: 100%;
          display: flex;
          border: var(--common-border);
          border-radius: var(--border-radius);
          overflow: auto;

          .workbench {
            width: 325px;
            padding: 15px;
            height: max-content;
            min-height: 100%;
          }
        }
      }
    }
  }

  .components-sec-list-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 48%;
    border: var(--common-border);
    border-radius: var(--border-radius);

    &:hover {
      background-color: var(--terinary-bg);
    }

    .components-sec-list-item-icon {
      font-size: 22px;
    }
  }

  .form-field-element-cnt {
    border-radius: var(--input-border-radius);
    border: var(--common-border);
    border-color: transparent;
    padding: 10px;
    position: relative;

    .opts-popup-cnt {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      background-color: var(--primary-bg);
      border: var(--common-border);
      border-radius: var(--input-border-radius);
      gap: 5px;

      .opts-popup-item {
        cursor: pointer;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--input-border-radius);

        &:hover {
          background-color: var(--primary-hover);
        }
      }
    }

    .displayNone {
      display: none;
    }

    .displayBlock {
      display: block;
    }

    .form-field-element {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .form-field-element-label {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .form-field-element-label-text {
          flex-grow: 1;
          word-wrap: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .form-field-element-options {
          cursor: pointer;
        }
      }

      .form-field-text-element-input {
        border: var(--common-border);
        border-radius: var(--input-border-radius);
        height: 32px;
        width: 100%;
        display: block;
      }

      .form-field-select-element-input {
        border: var(--common-border);
        border-radius: var(--input-border-radius);
        height: 32px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .select-element-input-icon {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: end;
          padding: 0 10px;
          position: absolute;
          top: 0;
        }
      }
    }
  }

  .form-bg {
    background-color: var(--primary-bg);
  }

  .dragging-element-placeholder {
    border: var(--common-border);
    background-color: var(--primary-placeholder);
    border-radius: var(--input-border-radius);
    border-color: var(--primary-hover);

    > * {
      visibility: hidden !important;
    }
  }
}
