.publish-cnt {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .publish-form-wrapper {
    width: 40%;
    height: 80%;
    border: var(--common-border);
    border-radius: var(--border-radius);

    .publish-form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .form-header {
        display: flex;
        padding: 10px;
        gap: 6px;
        .header-text {
          font-size: 16px;
          font-weight: 600;
        }
        .header-indicator {
          font-size: 18px;
          font-weight: 600;
          color: var(--primary);
        }
      }
      .form-body {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 30px;
        gap: 30px;

        .form-body-comp {
          flex-grow: 1;
        }
      }
      .form-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
      }
    }
  }
}
