.setting-cnt {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;

  .setting-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    .left {
      display: flex;
      align-items: center;
      gap: 8px;

      .header-indicator {
        font-size: 22px;
        font-weight: 800;
        color: var(--color-accent);
      }

      .header-text {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  .setting-body {
    margin: 20px;
    flex-grow: 1;
    background-color: var(--secondary-bg);
    border-radius: var(--section-border-radius);

    .sub-setting {
      display: flex;
      flex-direction: column;

      .sub-setting-header {
        padding: 20px;
        border-bottom: var(--common-border);
      }

      .sub-setting-body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .sub-setting-body-password-cnt {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .btn-cnt {
            display: flex;
            flex-direction: column;
            gap: 60px;
          }
        }

        .sub-setting-line {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          .sub-setting-line-icon {
            width: 28px;
            height: 28px;
            font-size: 28px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: var(--font-color);
              color: var(--primary-bg);
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .profile-cards {
    display: flex;
    gap: 10px;

    .card-cnt {
      position: relative;
      flex-grow: 1;
      min-width: 250px;
      height: 150px;
      background: linear-gradient(
        135deg,
        rgba(0, 123, 255, 0.6),
        rgba(0, 123, 255, 0.1)
      );
      backdrop-filter: blur(10px);
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background: linear-gradient(
          135deg,
          rgba(0, 123, 255, 0.8),
          rgba(0, 123, 255, 0.3)
        );
      }

      .card {
        position: absolute;
        z-index: 5;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
      }

      .card-text {
        font-size: 18px;
        font-weight: 600;
      }

      .card-icon {
        span {
          font-size: 36px;
        }
      }
    }
  }
}
