.info-card-cnt {
  border: var(--common-border);
  background: var(--secondary-bg-gradient);
  padding: 10px 15px;
  width: 100%;
  border-radius: var(--element-border-radius);
  display: flex;
  flex-direction: column;
  gap: 10px;

  .info-card-text {
    font-size: 16px;
    font-weight: 600;
    text-wrap: wrap;
    word-break: break-all;
  }

  .info-card-count {
    font-size: 18px;
    font-weight: 600;
  }
}

.chart-wrapper {
  border: var(--common-border);
  background: var(--secondary-bg-gradient);
  padding: 10px;
  width: calc(50% - 5px);
  border-radius: var(--element-border-radius);

  .chart-header {
    padding: 5px 8px 15px;

    .header-text {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .chart-cnt {
    .chart-data {
      height: 400px;
      width: 100%;
    }
  }
}
