.primary-button {
  padding: var(--button-padding);
  background-color: var(--primary);
  border-radius: var(--button-border-radius);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: var(--font-color);
    font-size: 14px;
    font-weight: 600;
  }

  &:hover {
    background-color: var(--primary-hover);
  }
}

.secondary-button {
  padding: var(--button-padding);
  background-color: var(--secondary-bg);
  border-radius: var(--button-border-radius);
  border: var(--input-border);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  p,
  span {
    color: var(--font-color);
    font-size: 14px;
    font-weight: 600;
  }

  &:hover {
    background-color: var(--font-color);

    p,
    span {
      color: var(--secondary-bg);
    }
  }
}

.promotion-button {
  padding: var(--promotion-button-padding);
  background: var(--promotion-gradient);
  border-radius: var(--button-border-radius);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: var(--font-color);
    font-size: 14px;
    font-weight: 600;
  }

  &:hover {
    background-color: var(--primary-hover);
  }
}
.disabled-btn {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.primary-action-button {
  padding: var(--button-padding);
  background-color: var(--primary);
  border-radius: var(--button-border-radius);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: var(--font-color);
    font-size: 16px;
    font-weight: 600;
  }

  &:hover {
    background-color: var(--primary-hover);
  }
}

.secondary-action-button {
  padding: var(--button-padding);
  background-color: var(--secondary-bg);
  border-radius: var(--button-border-radius);
  border: var(--input-border);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: var(--font-color);
    font-size: 16px;
    font-weight: 600;
  }

  &:hover {
    background-color: var(--font-color);

    p {
      color: var(--primary-bg);
    }
  }
}

.oauth-button {
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  border: var(--input-border);
  text-align: center;
  cursor: pointer;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  span {
    color: var(--font-color);
    font-weight: 600;
    font-size: 16px;
  }

  &:hover {
    background-color: #c1c1c11b;
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;

  span {
    display: flex;
    font-size: 20px;
  }

  &:hover {
    background-color: var(--font-color);
    color: var(--primary-bg);
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;

  span {
    display: flex;
    font-size: 18px;
    font-weight: 900;
    color: var(--font-color);
    cursor: pointer;
    &:hover {
      color: var(--color-accent);
    }
  }
}
