* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

span,
div,
p {
  font-size: 14px;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  .body-wrapper {
    height: 100%;
    width: 100%;
    background-color: var(--primary-bg);
    color: var(--font-color);
  }

  .body {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .app-wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .loader-cnt {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-err-cnt {
    height: 12px;
    display: flex;
    align-items: center;
  }
  .err-text {
    font-size: 12px;
    text-align: left;
    color: var(--error-color);
    display: flex;
    align-items: center;
  }
  .err-text::before {
    content: "i";
    display: inline-block;
    background-color: var(--error-color);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    padding: 2px;
    margin-right: 4px;
    font-size: 8px;
    text-align: center;
    color: var(--primary-bg);
  }
  .error-input {
    border-color: var(--error-color) !important;
  }

  .link {
    color: var(--primary);
    cursor: pointer;
    font-weight: 600;
  }

  .inactive {
    pointer-events: none;
    opacity: 0.8;
  }

  .inp-right-side-flot {
    position: absolute;
    right: 8px;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;

    background-color: #212121;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #414141;
  }

  // /* ===== Scrollbar CSS ===== */
  // /* Firefox */
  // * {
  //   scrollbar-width: thin;
  //   scrollbar-color: #007bff #ededed;
  // }

  // /* Chrome, Edge, and Safari */
  // *::-webkit-scrollbar {
  //   width: 6px;
  // }

  // *::-webkit-scrollbar-track {
  //   background: #ededed;
  // }

  // *::-webkit-scrollbar-thumb {
  //   background-color: #007bff;
  //   border-radius: 10px;
  // }
}

input[type="color"] {
  cursor: pointer;
  border: var(--common-border);
  outline: none;
  background-color: transparent;
}

.required-asterisk {
  color: var(--error-color);
  font-size: 12px;
}

.window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--window-overlay-bg);
}
.toogle-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 23px;
    background: var(--secondary-bg);
    border: var(--input-border);
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 17px;
    height: 17px;
    background: var(--font-color);
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--primary);
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 30px;
  }
}

.checkbox-switch-options-cnt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-switch {
  display: flex;
  align-items: center;
  gap: 10px;

  input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    font-family: "Arial";
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label:before {
    content: "\2714";
    border: 1px solid var(--font-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    color: transparent;
  }

  input[type="checkbox"]:checked + label:before {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
  }

  input[type="checkbox"]:disabled + label:before {
    border-color: #aaa;
  }

  input[type="checkbox"]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #f7c28f;
    border-color: #f7c28f;
  }
}

.radio-switch {
  display: flex;
  align-items: center;
  gap: 10px;

  input[type="radio"] + label {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    font-family: "Arial";
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label:before {
    content: "\25cf";
    border: 1px solid var(--font-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    color: transparent;
  }

  input[type="radio"]:checked + label:before {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
  }

  input[type="radio"]:disabled + label:before {
    border-color: #aaa;
  }

  input[type="radio"]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #f7c28f;
    border-color: #f7c28f;
  }
}

.color-picker {
  display: flex;
  align-items: center;
  gap: 10px;

  .color-picker-input {
    flex-grow: 1;
    height: 32px;
  }
}

.date-picker {
  display: flex;
  align-items: center;
  gap: 10px;

  .date-picker-input {
    flex-grow: 1;
    height: 32px;
  }
}

.btn-cnt {
  display: flex;
  gap: 10px;
}

#select-popup-target {
  z-index: 1000;
}

.accent-line-loader {
  height: 4px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  border-radius: 20px;
  --c: no-repeat linear-gradient(var(--primary) 0 0);
  background: var(--c), var(--c), transparent;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
