* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

span,
div,
p {
  font-size: 14px;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  .body-wrapper {
    height: 100%;
    width: 100%;
    background-color: var(--primary-bg);
    color: var(--font-color);
  }

  .body {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .app-wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .loader-cnt {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-err-cnt {
    height: 12px;
    display: flex;
    align-items: center;
  }
  .err-text {
    font-size: 12px;
    text-align: left;
    color: var(--error-color);
    display: flex;
    align-items: center;
  }
  .err-text::before {
    content: "i";
    display: inline-block;
    background-color: var(--error-color);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    padding: 2px;
    margin-right: 4px;
    font-size: 8px;
    text-align: center;
    color: var(--primary-bg);
  }
  .error-input {
    border-color: var(--error-color) !important;
  }

  .link {
    color: var(--primary);
    cursor: pointer;
    font-weight: 600;
  }

  .inactive {
    pointer-events: none;
    opacity: 0.8;
  }

  .inp-right-side-flot {
    position: absolute;
    right: 8px;
  }

  *::-webkit-scrollbar {
    width: 6px;
    background-color: #212121;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #414141;
  }

  // /* ===== Scrollbar CSS ===== */
  // /* Firefox */
  // * {
  //   scrollbar-width: thin;
  //   scrollbar-color: #007bff #ededed;
  // }

  // /* Chrome, Edge, and Safari */
  // *::-webkit-scrollbar {
  //   width: 6px;
  // }

  // *::-webkit-scrollbar-track {
  //   background: #ededed;
  // }

  // *::-webkit-scrollbar-thumb {
  //   background-color: #007bff;
  //   border-radius: 10px;
  // }
}
.required-asterisk {
  color: var(--error-color);
  font-size: 12px;
}

.toogle-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 23px;
    background: var(--secondary-bg);
    border: var(--input-border);
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 17px;
    height: 17px;
    background: var(--font-color);
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--primary);
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 30px;
  }
}
