@import "variables.scss";
@import "global.scss", "loaders.scss", "icons.scss";

@import "auth/auth.scss", "inputComponents.scss", "buttonComponents.scss",
  "mainHeader.scss", "sidebar.scss";
@import "dashboard/dashboard.scss", "dashboard/dashboardComponents.scss";
@import "forms/forms.scss", "forms/formCreate.scss",
  "forms/elementPropertise.scss";

@import "sortablelist.scss";
@import "setting/setting.scss", "setting/profileSetting.scss";
@import "components/models/verificationCode.scss";
