@import "variables.scss";
@import "global.scss", "loaders.scss", "icons.scss";

@import "auth/auth.scss", "inputComponents.scss", "buttonComponents.scss",
  "mainHeader.scss", "sidebar.scss";
@import "dashboard/dashboard.scss", "dashboard/dashboardComponents.scss";
