.sortable-list-cnt {
  width: 100%;
  display: flex;

  .sortable-list {
    width: 100%;
    .sortable-list-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;

      .left {
        display: flex;
        align-items: center;
        gap: 8px;

        .header-indicator {
          font-size: 22px;
          font-weight: 800;
          color: var(--color-accent);
        }

        .header-text {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    .sortable-list-body {
      width: 100%;
      .option-field-element-cnt {
        cursor: pointer;
        padding: 5px;
        width: 100%;

        .option-field-element {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          background-color: var(--terinary-bg);
          border-radius: var(--input-border-radius);
        }
      }
    }
  }

  .dragging-element-placeholder {
    border: var(--common-border);
    background-color: var(--primary-placeholder);
    border-radius: var(--input-border-radius);
    border-color: var(--primary-hover);

    > * {
      visibility: hidden !important;
    }
  }
}
