:root {
  // Colors

  --error-color: #e63d6a;

  --primary: #007bff;
  --primary-hover: #006fe6;
  --primary-placeholder: #006fe656;

  --promotion-gradient-2: linear-gradient(165deg, #007bff, #006fe6);

  --promotion-gradient: linear-gradient(
    135deg,
    rgba(0, 96, 223, 1) 0%,
    rgba(0, 188, 223, 1) 35%,
    rgba(0, 223, 149, 1) 100%
  );

  --secondary: #161616;

  --green-primary: #48bf84;
  --green-primary-hover: #34875d;

  --green-bg: #d2fadf;
  --green-font: #2c6143;

  --red-bg: #fee4e3;
  --red-font: #824b44;
  // 2c6143

  --success: #4bb543;
  --success-bg: #aeb6ad;

  --error: #dc3545;
  --error-bg: #df4656;

  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;

  --light-dark: #7b7b7b;
  --primary-gradiant: no-repeat linear-gradient(var(--primary), 0 0);

  //Sections
  --section-border-radius: 10px;

  //Element
  --element-border-radius: 6px;

  // Buttons
  --button-border-radius: 5px;
  --button-padding: 10px 15px;

  --promotion-button-padding: 15px;

  --secondary-button-hover: #c1c1c11b;

  // inputs
  --input-focus-border: #80bdff;
  --input-focus-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  --input-padding: 8px;
  --input-border-radius: 4px;

  // Transitions
  --universal-transition: all 0.4s ease-in-out;

  // Themes

  .theme-light {
    --color-primary: #0060df;
    --color-accent: #007bff;
    --primary-bg: #fbfbfe;
    --font-color: #050505;
    --color-scheme: dark;

    --input-border: 1px solid #e6e6e6;
    --common-border: 1px solid #e6e6e6;
  }

  .theme-dark {
    --color-accent: #007bff;

    --primary-bg: #050505;
    --secondary-bg: #111111;

    --secondary-bg-hover: #111111;

    --terinary-bg: #181818;

    --window-overlay-bg: #1818187a;

    --secondary-bg-gradient: linear-gradient(165deg, #111111, #070707);

    --font-color: #fbfbfe;
    --color-scheme: dark;

    --input-border: 1px solid #444;
    --input-border-focus: 1px solid #555;

    --common-border: 1px solid #212121;
    --model-bg: #111111c9;
  }

  // STANDARD COLORS
  // BLACK - #050505,
  // WHITE - #fbfbfe
}
