[01;34m./src/components/builderWorkbench[0m
│   00Tree.html
│   [01;34mbuilderComponents[0m
│   │   CheckboxFieldElement.tsx
│   │   ColorPickerElement.tsx
│   │   DatePickerElement.tsx
│   │   DateTimePickerElement.tsx
│   │   DynamicElement.tsx
│   │   ElementOptionPopup.tsx
│   │   RadioFieldElement.tsx
│   │   RangePickerElement.tsx
│   │   SelectFieldElement.tsx
│   │   TextFieldElement.tsx
│       TimePickerElement.tsx
├── ComponentsContainer.tsx
├── ComponentsElements.tsx
├── ElementPropertise.tsx
├── FormPropertise.tsx
├── FormWorkbenchCnt.tsx
└── FormWorkbench.tsx

2 directories, 18 files
